version: '3.5'
services:
  notify.fakesmtp:
    image: gessnerfl/fake-smtp-server
    container_name: "notify.fakesmtp"
    hostname: "fakesmtp"
    ports:
      - "5025:5025"
      - "1083:5080"

  notify.rabbitmq:
    image: rabbitmq:3.11-management
    container_name: notify.rabbitmq
    ports:
      - '1088:15672'
      - '5672:5672'
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: pass
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  notify.mongodb:
    image: mongo
    container_name: notify.mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: notify
    ports:
      - 27020:27017
    volumes:
      - notify.mongodb:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/notify --quiet
      interval: 10s
      timeout: 10s
      retries: 5

  notify.mongodb.ui:
    image: mongo-express
    restart: always
    container_name: notify.mongodb.ui
    ports:
      - 8083:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
      ME_CONFIG_MONGODB_URL: mongodb://admin:pass@notify.mongodb:27017/

volumes:
  notify.mongodb: